<div class="jumbotron">
  <h1>Shipper
    <small>The best way to ship your orders.</small>
  </h1>
  <hr>
  <p class="text-center"><a class="btn btn-primary btn-lg" href="/auth/twitter" role="button">Get Started</a></p>
</div>

<p class="text-center"><%= image_tag 'box.jpg' %></p>
